.navmenu {
    background: none repeat scroll 0 0 #231F20;
    display: inline-block;
    list-style: none outside none;
    margin: 0 auto;
    padding: 0;
}
.navmenu ul {
    list-style: none;
    margin: 0 auto;
    opacity: 0.9;
    z-index: 99;
}
.navmenu a {
    color: #B0B0B0;
    font-size: 12px;
    font-weight: bold;
    line-height: 12px;
    padding: 10px;
    text-transform: uppercase;
}
.navmenu li {
    position: relative;
    float: left;
}
.navmenu li.first-item {
    background: url("../../images/home/icon-home.png") no-repeat scroll 0 0 rgba(0, 0, 0, 0);
    margin-top: 4px;
}
.navmenu li.first-item a {

}
.navmenu > li > .parent {
    background-repeat: no-repeat;
    background-position: right;
}
.navmenu > li > a {
    display: block;
}
.navmenu li  ul {
    position: absolute;
    left: -9999px;
    background: none repeat scroll 0 0 #175E4C;
    width: 150px;
}
.navmenu > li.hover > ul {
    left: 0;
}
.navmenu li li.hover ul {
    left: 100%;
    top: 0;
}
.navmenu li li a {
    display: block;
    background: #005fa3;
    position: relative;
    z-index:100;
    border-top: 1px solid #175e4c;
}
.navmenu li li li a {
    background:#8ebf1f;
    z-index:200;
    border-top: 1px solid #1d7a62;
}

@media screen and (max-width: 768px) {
    .active {
        display: block;
    }
    .navmenu a{
        background: none;
    }
    .navmenu li  ul{
        width: 100%;
    }
    .navmenu > li {
        float: none;
    }
    .navmenu > li > .parent {
        background-position: 95% 50%;
    }
    .navmenu li li .parent {
        background-repeat: no-repeat;
        background-position: 95% 50%;
    }
    .navmenu ul {
        display: block;
        width: 100%;
    }
    .navmenu > li.hover > ul , .navmenu li li.hover ul {
        position: static;
    }

}